# １章 ウェブの注文数を分析する１０本ノック

ここでは、ある企業のECサイトでの商品の注文数の推移を分析していきます。  
データの属性を理解し、分析をするためにデータを加工した後、  
データの可視化を行うことで問題を発見していくプロセスを学びます。

### ノック１：データを読み込んでみよう

In [1]:
!pip list

Package                Version
---------------------- -------------------
alembic                1.4.1
async-generator        1.10
attrs                  19.3.0
backcall               0.1.0
beautifulsoup4         4.8.2
bleach                 3.1.3
blinker                1.4
bokeh                  1.4.0
certifi                2019.11.28
certipy                0.1.3
cffi                   1.14.0
chardet                3.0.4
click                  7.1.1
cloudpickle            1.3.0
conda                  4.8.2
conda-package-handling 1.6.0
cryptography           2.8
cycler                 0.10.0
Cython                 0.29.15
cytoolz                0.10.1
dask                   2.11.0
decorator              4.4.2
defusedxml             0.6.0
dill                   0.3.1.1
distributed            2.12.0
entrypoints            0.3
fsspec                 0.6.2
h5py                   2.10.0
HeapDict               1.0.1
idna                   2.9
imageio                2.8.0
importlib-metadata     1.5.0
ipykernel              5.1.4
ipympl                 0.5.3
ipython                7.13.0
ipython-genutils       0.2.0
ipywidgets             7.5.1
jedi                   0.16.0
Jinja2                 2.11.1
joblib                 0.14.1
json5                  0.9.0
jsonschema             3.2.0
jupyter-client         6.0.0
jupyter-core           4.6.3
jupyter-telemetry      0.0.5
jupyterhub             1.1.0
jupyterlab             2.0.1
jupyterlab-server      1.0.7
kiwisolver             1.1.0
llvmlite               0.31.0
locket                 0.2.0
Mako                   1.1.0
MarkupSafe             1.1.1
matplotlib             3.1.3
mistune                0.8.4
mpmath                 1.1.0
msgpack                1.0.0
nbconvert              5.6.1
nbformat               5.0.4
networkx               2.4
notebook               6.0.3
numba                  0.48.0
numexpr                2.7.1
numpy                  1.18.1
oauthlib               3.0.1
olefile                0.46
packaging              20.1
pamela                 1.0.0
pandas                 1.0.2
pandocfilters          1.4.2
parso                  0.6.2
partd                  1.1.0
patsy                  0.5.1
pexpect                4.8.0
pickleshare            0.7.5
Pillow                 7.0.0
pip                    20.0.2
prometheus-client      0.7.1
prompt-toolkit         3.0.4
protobuf               3.11.4
psutil                 5.7.0
ptyprocess             0.6.0
pycosat                0.6.3
pycparser              2.20
pycurl                 7.43.0.5
Pygments               2.6.1
PyJWT                  1.7.1
pyOpenSSL              19.1.0
pyparsing              2.4.6
pyrsistent             0.15.7
PySocks                1.7.1
python-dateutil        2.8.1
python-editor          1.0.4
python-json-logger     0.1.11
pytz                   2019.3
PyWavelets             1.1.1
PyYAML                 5.3
pyzmq                  19.0.0
requests               2.23.0
rpy2                   3.1.0
ruamel-yaml            0.15.80
ruamel.yaml            0.16.6
ruamel.yaml.clib       0.2.0
scikit-image           0.16.2
scikit-learn           0.22.2.post1
scipy                  1.4.1
seaborn                0.10.0
Send2Trash             1.5.0
setuptools             46.0.0.post20200311
simplegeneric          0.8.1
six                    1.14.0
sortedcontainers       2.1.0
soupsieve              1.9.4
SQLAlchemy             1.3.15
statsmodels            0.11.1
sympy                  1.5.1
tblib                  1.6.0
terminado              0.8.3
testpath               0.4.4
toolz                  0.10.0
tornado                6.0.4
tqdm                   4.43.0
traitlets              4.3.3
tzlocal                2.0.0
urllib3                1.25.7
vincent                0.4.4
wcwidth                0.1.8
webencodings           0.5.1
wheel                  0.34.2
widgetsnbextension     3.5.1
xlrd                   1.2.0
zict                   2.0.0
zipp                   3.1.0

In [2]:
import os
os.getcwd()

'/code/practice_code/chapter_1'

In [3]:
import pandas as pd

In [4]:
sample_code_dir = '/code/sample_code/1章/'

In [5]:
customer_master = pd.read_csv(sample_code_dir + 'customer_master.csv')
display(customer_master.head(), customer_master.shape)

,customer_id,customer_name,registration_date,customer_name_kana,email,gender,age,birth,pref
0,IK152942,平田 裕次郎,2019-01-01 00:25:33,ひらた ゆうじろう,hirata_yuujirou@example.com,M,29,1990/6/10,石川県
1,TS808488,田村 詩織,2019-01-01 01:13:45,たむら しおり,tamura_shiori@example.com,F,33,1986/5/20,東京都
2,AS834628,久野 由樹,2019-01-01 02:00:14,ひさの ゆき,hisano_yuki@example.com,F,63,1956/1/2,茨城県
3,AS345469,鶴岡 薫,2019-01-01 04:48:22,つるおか かおる,tsuruoka_kaoru@example.com,M,74,1945/3/25,東京都
4,GD892565,大内 高史,2019-01-01 04:54:51,おおうち たかし,oouchi_takashi@example.com,M,54,1965/8/5,千葉県

(5000, 9)

In [6]:
display(customer_master['customer_id'].unique)

<bound method Series.unique of 0       IK152942
1       TS808488
2       AS834628
3       AS345469
4       GD892565
          ...
4995    AS677229
4996    HD758694
4997    PL538517
4998    OA955088
4999    HI349563
Name: customer_id, Length: 5000, dtype: object>

In [7]:
item_master = pd.read_csv(sample_code_dir + 'item_master.csv')
display(item_master.head(), item_master.shape)

  item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000
3    S004      PC-D      180000
4    S005      PC-E      210000

(5, 3)

In [8]:
transaction_1 = pd.read_csv(sample_code_dir + 'transaction_1.csv')
display(transaction_1.head(), transaction_1.shape)

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

(5000, 4)

In [9]:
transaction_detail_1 = pd.read_csv(sample_code_dir + 'transaction_detail_1.csv')
display(transaction_detail_1.head(), transaction_detail_1.shape)

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

(5000, 4)

### ノック２：データを結合(ユニオン)してみよう

In [10]:
transaction_2 = pd.read_csv(sample_code_dir + 'transaction_2.csv')
display(transaction_2.shape)
# ignore_indexでindex番号を振り直す。 axisで縦に結合を指示。
transaction = pd.concat([transaction_1, transaction_2], ignore_index=True, axis=0)
display(transaction.head(), transaction.shape)
transaction_zikken = pd.concat([transaction_1, transaction_2], axis=1)
display(transaction_zikken.head(), transaction_zikken.shape)

(1786, 4)

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

(6786, 4)

,transaction_id,price,payment_date,customer_id,transaction_id,price,payment_date,customer_id
0,T0000000113,210000,2019-02-01 01:36:57,PL563502,T0000005113,295000.0,2019-06-15 07:20:27,TS169261
1,T0000000114,50000,2019-02-01 01:37:23,HD678019,T0000005114,50000.0,2019-06-15 07:35:47,HI599892
2,T0000000115,120000,2019-02-01 02:34:19,HD298120,T0000005115,85000.0,2019-06-15 07:56:36,HI421757
3,T0000000116,210000,2019-02-01 02:47:23,IK452215,T0000005116,50000.0,2019-06-15 08:40:55,OA386378
4,T0000000117,170000,2019-02-01 04:33:46,PL542865,T0000005117,120000.0,2019-06-15 08:44:23,TS506913

(5000, 8)

In [11]:
transaction_detail_2 = pd.read_csv(sample_code_dir + 'transaction_detail_2.csv')
display(transaction_detail_2.shape)
# ignore_indexでindex番号を振り直す。 axisで縦に結合を指示。
transaction_detail = pd.concat([transaction_detail_1, transaction_detail_2], ignore_index=True, axis=0)
display(transaction_detail.head(), transaction_detail.shape)

(2144, 4)

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

(7144, 4)

### ノック３：売上データ同士を結合(ジョイン)してみよう

In [12]:
## １つのDFに1つのDFをmergeする時にはmerge。 マージしたいkeyも指定可能。 onにてマージする主軸を決める。 howでマージの仕方(今回右に入れた)
join_data = pd.merge(transaction_detail, transaction[["transaction_id", "payment_date", "customer_id"]], on="transaction_id", how="left")
display(join_data.head(), join_data.shape)

   detail_id transaction_id item_id  quantity         payment_date customer_id
0          0    T0000000113    S005         1  2019-02-01 01:36:57    PL563502
1          1    T0000000114    S001         1  2019-02-01 01:37:23    HD678019
2          2    T0000000115    S003         1  2019-02-01 02:34:19    HD298120
3          3    T0000000116    S005         1  2019-02-01 02:47:23    IK452215
4          4    T0000000117    S002         2  2019-02-01 04:33:46    PL542865

(7144, 6)

### ノック４：マスタデータを結合(ジョイン)してみよう

In [13]:
join_data = pd.merge(join_data, customer_master, on="customer_id", how="left")
join_data = pd.merge(join_data, item_master, on="item_id", how="left")
display(join_data.head(), join_data.shape)

,detail_id,transaction_id,item_id,quantity,payment_date,customer_id,customer_name,registration_date,customer_name_kana,email,gender,age,birth,pref,item_name,item_price
0,0,T0000000113,S005,1,2019-02-01 01:36:57,PL563502,井本 芳正,2019-01-07 14:34:35,いもと よしまさ,imoto_yoshimasa@example.com,M,30,1989/7/15,熊本県,PC-E,210000
1,1,T0000000114,S001,1,2019-02-01 01:37:23,HD678019,三船 六郎,2019-01-27 18:00:11,みふね ろくろう,mifune_rokurou@example.com,M,73,1945/11/29,京都府,PC-A,50000
2,2,T0000000115,S003,1,2019-02-01 02:34:19,HD298120,山根 小雁,2019-01-11 08:16:02,やまね こがん,yamane_kogan@example.com,M,42,1977/5/17,茨城県,PC-C,120000
3,3,T0000000116,S005,1,2019-02-01 02:47:23,IK452215,池田 菜摘,2019-01-10 05:07:38,いけだ なつみ,ikeda_natsumi@example.com,F,47,1972/3/17,兵庫県,PC-E,210000
4,4,T0000000117,S002,2,2019-02-01 04:33:46,PL542865,栗田 憲一,2019-01-25 06:46:05,くりた けんいち,kurita_kenichi@example.com,M,74,1944/12/17,長崎県,PC-B,85000

(7144, 16)

### ノック5：必要なデータ列を作ろう

In [14]:
join_data["price"] = join_data["quantity"] * join_data["item_price"]
join_data[["quantity", "item_price", "price"]].head()

   quantity  item_price   price
0         1      210000  210000
1         1       50000   50000
2         1      120000  120000
3         1      210000  210000
4         2       85000  170000

### ノック6：データ検算をしよう

In [15]:
print(join_data["price"].sum())
print(transaction["price"].sum())

971135000
971135000

In [16]:
join_data["price"].sum() == transaction["price"].sum()

True

### ノック7：各種統計量を把握しよう

In [17]:
join_data.isnull().sum()

detail_id             0
transaction_id        0
item_id               0
quantity              0
payment_date          0
customer_id           0
customer_name         0
registration_date     0
customer_name_kana    0
email                 0
gender                0
age                   0
birth                 0
pref                  0
item_name             0
item_price            0
price                 0
dtype: int64

In [18]:
join_data.describe()

         detail_id     quantity          age     item_price          price
count  7144.000000  7144.000000  7144.000000    7144.000000    7144.000000
mean   3571.500000     1.199888    50.265677  121698.628219  135937.150056
std    2062.439494     0.513647    17.190314   64571.311830   68511.453297
min       0.000000     1.000000    20.000000   50000.000000   50000.000000
25%    1785.750000     1.000000    36.000000   50000.000000   85000.000000
50%    3571.500000     1.000000    50.000000  102500.000000  120000.000000
75%    5357.250000     1.000000    65.000000  187500.000000  210000.000000
max    7143.000000     4.000000    80.000000  210000.000000  420000.000000

In [19]:
print(join_data["payment_date"].min())
print(join_data["payment_date"].max())

2019-02-01 01:36:57
2019-07-31 23:41:38

### ノック8：月別でデータを集計してみよう

In [22]:
display(join_data.dtypes)

detail_id              int64
transaction_id        object
item_id               object
quantity               int64
payment_date          object
customer_id           object
customer_name         object
registration_date     object
customer_name_kana    object
email                 object
gender                object
age                    int64
birth                 object
pref                  object
item_name             object
item_price             int64
price                  int64
dtype: object

In [25]:
## to_datetimeでdatetime型に変換
join_data["payment_date"] = pd.to_datetime(join_data["payment_date"])
## 変換したものから、datetimeのメソッドを使って年と月だけのオブジェクトを生成
join_data["payment_month"] = join_data["payment_date"].dt.strftime("%Y%m")
join_data[["payment_date", "payment_month"]].head()

         payment_date payment_month
0 2019-02-01 01:36:57        201902
1 2019-02-01 01:37:23        201902
2 2019-02-01 02:34:19        201902
3 2019-02-01 02:47:23        201902
4 2019-02-01 04:33:46        201902

In [26]:
join_data.groupby("payment_month").sum()["price"]

payment_month
201902    160185000
201903    160370000
201904    160510000
201905    155420000
201906    164030000
201907    170620000
Name: price, dtype: int64

### ノック9：月別、商品別でデータを集計してみよう

In [27]:
join_data.groupby(["payment_month", "item_name"]).sum()[["price", "quantity"]]

                            price  quantity
payment_month item_name
201902        PC-A       24150000       483
              PC-B       25245000       297
              PC-C       19800000       165
              PC-D       31140000       173
              PC-E       59850000       285
201903        PC-A       26000000       520
              PC-B       25500000       300
              PC-C       19080000       159
              PC-D       25740000       143
              PC-E       64050000       305
201904        PC-A       25900000       518
              PC-B       23460000       276
              PC-C       21960000       183
              PC-D       24300000       135
              PC-E       64890000       309
201905        PC-A       24850000       497
              PC-B       25330000       298
              PC-C       20520000       171
              PC-D       25920000       144
              PC-E       58800000       280
201906        PC-A       26000000       520
              PC-B       23970000       282
              PC-C       21840000       182
              PC-D       28800000       160
              PC-E       63420000       302
201907        PC-A       25250000       505
              PC-B       28220000       332
              PC-C       19440000       162
              PC-D       26100000       145
              PC-E       71610000       341

In [29]:
pd.pivot_table(join_data, index='item_name', columns='payment_month', values=['price', 'quantity'], aggfunc='sum')

                  price                                                    \
payment_month    201902    201903    201904    201905    201906    201907
item_name
PC-A           24150000  26000000  25900000  24850000  26000000  25250000
PC-B           25245000  25500000  23460000  25330000  23970000  28220000
PC-C           19800000  19080000  21960000  20520000  21840000  19440000
PC-D           31140000  25740000  24300000  25920000  28800000  26100000
PC-E           59850000  64050000  64890000  58800000  63420000  71610000

              quantity
payment_month   201902 201903 201904 201905 201906 201907
item_name
PC-A               483    520    518    497    520    505
PC-B               297    300    276    298    282    332
PC-C               165    159    183    171    182    162
PC-D               173    143    135    144    160    145
PC-E               285    305    309    280    302    341

### ノック10：商品別の売上推移を可視化してみよう