In [1]:
import pandas as pd

In [2]:
data = {"列1": ["A", "A", "A"], "列2": ["B", "B", "B"], "列3": ["C", "C", "C"]}

In [3]:
data = pd.DataFrame(data)

In [4]:
display(data)

  列1 列2 列3
0  A  B  C
1  A  B  C
2  A  B  C

In [5]:
data2 = {"列4": [1,1,1], "列5": [2,2,2], "列6": [3,3,3]}

In [6]:
data2 = pd.DataFrame(data2)

In [7]:
display(data2)

   列4  列5  列6
0   1   2   3
1   1   2   3
2   1   2   3

In [8]:
import numpy as np

In [9]:
data2["列4"][0] = 1

In [10]:
datas = pd.concat([data, data2], axis=1)
datas

  列1 列2 列3  列4  列5  列6
0  A  B  C   1   2   3
1  A  B  C   1   2   3
2  A  B  C   1   2   3

In [11]:
value = []
columns = []
for column in datas:
    columns.append(column)
    value.append(datas[column].loc[~pd.isnull(datas[column])].unique()[0])
response = pd.DataFrame([pd.Series(value, index=columns)])
display(response)

  列1 列2 列3  列4  列5  列6
0  A  B  C   1   2   3

In [14]:
for c in datas.columns:
    print(datas[c].dropna().unique()[0])
for column in datas:
    print(datas[column].loc[~pd.isnull(datas[column])].unique()[0])

A
B
C
1
2
3
A
B
C
1
2
3

In [12]:
answer = datas.loc[~pd.isnull(datas.values)]
answer

  列1 列2 列3  列4  列5  列6
0  A  B  C   1   2   3
0  A  B  C   1   2   3
0  A  B  C   1   2   3
0  A  B  C   1   2   3
0  A  B  C   1   2   3
0  A  B  C   1   2   3
1  A  B  C   1   2   3
1  A  B  C   1   2   3
1  A  B  C   1   2   3
1  A  B  C   1   2   3
1  A  B  C   1   2   3
1  A  B  C   1   2   3
2  A  B  C   1   2   3
2  A  B  C   1   2   3
2  A  B  C   1   2   3
2  A  B  C   1   2   3
2  A  B  C   1   2   3
2  A  B  C   1   2   3