In [2]:
import pandas as pd

In [6]:
data = {"列1": ["A", "A", "A"], "列2": ["B", "B", "B"], "列3": ["C", "C", "C"]}

In [7]:
data = pd.DataFrame(data)

In [9]:
display(data)

  列1 列2 列3
0  A  B  C
1  A  B  C
2  A  B  C

In [10]:
data2 = {"列4": [1,1,1], "列5": [2,2,2], "列6": [3,3,3]}

In [28]:
data2 = pd.DataFrame(data2)

In [39]:
display(data2)

    列4   列5   列6
0  1.0  NaN  NaN
1  NaN  2.0  NaN
2  NaN  NaN  3.0

In [20]:
import numpy as np

In [38]:
data2["列4"][0] = 1

In [118]:
datas = pd.concat([data, data2], axis=1)
datas

  列1 列2 列3   列4   列5   列6
0  A  B  C  1.0  NaN  NaN
1  A  B  C  NaN  2.0  NaN
2  A  B  C  NaN  NaN  3.0

In [120]:
value = []
columns = []
for column in datas:
    columns.append(column)
    value.append(datas[column].loc[~pd.isnull(datas[column])].unique()[0])
response = pd.DataFrame([pd.Series(value, index=columns)])
display(response)

  列1 列2 列3   列4   列5   列6
0  A  B  C  1.0  2.0  3.0

In [113]:
answer = datas.loc[~pd.isnull(datas.values)]
answer

  列1 列2 列3   列4   列5   列6
0  A  B  C  1.0  NaN  NaN
0  A  B  C  1.0  NaN  NaN
0  A  B  C  1.0  NaN  NaN
0  A  B  C  1.0  NaN  NaN
1  A  B  C  NaN  2.0  NaN
1  A  B  C  NaN  2.0  NaN
1  A  B  C  NaN  2.0  NaN
1  A  B  C  NaN  2.0  NaN
2  A  B  C  NaN  NaN  3.0
2  A  B  C  NaN  NaN  3.0
2  A  B  C  NaN  NaN  3.0
2  A  B  C  NaN  NaN  3.0